.about-container{
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    padding-top: 7%;
}

/* .about-header{
    padding-right: 5%;
} */


.about-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.portfolio-photo{
    width: 300px;
}

.about-image{
    padding: 5%;
}

.about-text{
    text-align: justify;
}

.variable-height{
    height: auto;
}