.proj-container{
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    align-items: center;
    width: 75%;
    padding-top: 7%;
}

.proj-header{
    margin: auto;
}

.prj-img{
    width: 200px;
}
