body {
  margin: 0;
  font-family: "Roboto Condensed", Arial, sans-serif;
  background-color: #dbd3c4;
}

/* General Navbar Styles */
.navbar {
  position: fixed;
  top: 0;
  right: 0;
  /* background-color: #f8f8f8; */
  padding: 10px;
  z-index: 1000;
  width: 100%;
  box-shadow: 0px 1px 10px black;
  color: white;
  transition: .2s;
}

.navbar-opaque {
  background-color: #43465c;
  color: wheat;
  transition: .2s;
}

.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  width: 80%;
  height: 45px;
  font-size: small;
}

.nav-items ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 10px;
}

.nav-items li {
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 20px;
}

.nav-items li.active {
  background-color: #6f6f70;
  color: white;
}

/* Hamburger Menu Styles */
.hamburger-menu {
  display: none;
}

.hamburger-icon {
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

.mobile-nav-items ul {
  list-style: none;
  margin: 0;
  padding: 10px;
  background-color: #f8f8f8;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); */
}

.mobile-nav-items li {
  padding: 10px 0;
  /* border-bottom: 1px solid #ccc; */
  cursor: pointer;
}

.mobile-nav-items li:last-child {
  border-bottom: none;
}

/* Responsive Design */
@media (max-width: 920px) {
  .nav-items {
    display: none;
  }
  .hamburger-menu {
    display: block;
  }
}


/* .navbar {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #f8f8f8;
  padding: 10px;
  z-index: 1000;
  width: 100%;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 10px;
}

.navbar li {
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
}

.navbar li.active {
  background-color: #007bff;
  color: white;
} */

.section {
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  border-bottom: 1px solid #ccc;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.extend-height {
  height: auto;
}


.section.visible {
  opacity: 1;
  transform: translateY(0);
}


.site-name{
  font-size: 1.5rem;
  font-weight: bold;
  padding-left: 25px;
}

.nav-items{
  display: flex;
  gap: 10px;

}