body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #f8f8f8;
  padding: 10px;
  z-index: 1000;
  width: 100%;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 10px;
}

.navbar li {
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
}

.navbar li.active {
  background-color: #007bff;
  color: white;
}

.section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #ccc;
}


.nav-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-name{
  font-size: 1.5rem;
  font-weight: bold;
  padding-left: 25px;
}

.nav-items{
  display: flex;
  gap: 10px;

}