body {
  margin: 0;
  font-family: "Roboto Condensed", Arial, sans-serif;
  background-color: #dbd3c4;
}


/***************** General Section Styles *********************/
.section {
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  border-bottom: 1px solid #ccc;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-out, transform 1s ease-out;
  width: 100%; /* Ensure full width to prevent overflow */
  max-width: 100vw; /* Prevent horizontal scrolling */
  overflow-x: hidden; /* Hide any accidental overflow */
  box-sizing: border-box;
}


.section.visible {
  opacity: 1;
  transform: translateY(0);
}


.site-name{
  font-size: 1.5rem;
  font-weight: bold;
  padding-left: 25px;
}

.custom-color {
  color: wheat;
}

.extend-height {
  height: auto;
  padding-bottom: 5%;
}



/********/

